@mixin b-radius($radius){
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin transition($transform){
    transition: $transform;
    -webkit-transition: $transform;
    -moz-transition: $transform;
    -ms-transition: $transform;
    -o-transition: $transform;
}